.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form h2 {
  color: #333;
}

.input-container {
  margin-bottom: 15px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  margin-top: 20px;
}

.btn {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4fa3cc;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}